<div id="messages-container">
	<div ng-repeat='message in messages track by $index'>
		<div class="prof_message_card" ng-class="{'prof_message_card_away': checkingIfMine($index)}">
			<div>{{message.message}}</div>
			<span id="message_time">Sent at {{message.time | date:'MM/dd h:mma'}}</span>
		</div>
	</div>
</div>
<div class="prof_message_reply" ng-show="userClicked">
	<textarea name="reply" id="messageReply" cols="30" rows="3" ng-model="msg"></textarea>
		<button id="submitReply" ng-click="replyToUser(msg)">SEND</button>
</div>