.developerBody{
	background: #272525;
	/*min-height: 70vh;*/
	color: #f4f4f4;
	font-family: dosis;
}

.searchDevelopers{
	padding-top: 20px;
	padding-bottom: 10px;
	text-align:center;
	font-size:3em;

}

.users{
	width:60%;
	margin:0 auto;
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.searchDevelopers > input {
	margin-top:10px;
	font-size: 40px;
    border: none;
    border-bottom: 2px solid #f4f4f4;
    margin-bottom: 5px;
	background: transparent;
	color: white;
}
.developerMain {
	min-height: 50vh;
	background: #f4f4f4;
	color:black;
}

.main_developerCard {
	width:250px;
	height:350px;
	border-radius: 10px;	
	margin:20px 35px;
}

.developerCard_upper{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	height:60%;
	width:100%;
	background:gray;
	border:1px solid gray;
}

.developerCard_lower{
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	height:40%;
	background: white;
}